# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules/\nbower_components/
#ignore dist files
dist/

#obviously ignore my certificates.

rootCA.pem
cert.pem
policy-document.txt
52ae1f5de3-certificate.pem.crt
52ae1f5de3-private.pem.key
privateKey.pem